<%= form_with(model: cash, local: true) do |form| %>
  <% if cash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cash.errors.count, "error") %> prohibited this cash from being saved:</h2>

      <ul>
        <% cash.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='row'>
      <div class='col s4'>
        <%= form.label :value %>
        <%= form.text_field :value %>
      </div>

      <div class='col s4'>
        <%= form.label :date %>
        <%= form.text_field :date %>
      </div>  
      <div class='col s4'>
        <label>
          <%= form.radio_button :kind, 'Receita' %>
          <span>Receita</span>
        </label>
        <label>
          <%= form.radio_button :kind, 'Despesa' %>
          <span>Despesa</span>
        </label>
      </div>
    </div>
    <div class='row'>
      <%= form.label :note %>
      <%= form.text_area :note, class:'materialize-textarea' %>
    </div>
    <%= form.submit class: 'btn' %>
    <%= link_to 'Back', cashes_path, class:'btn' %>
<% end %>
