<%= form_with(model: cash, local: true) do |form| %>
  <% if cash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cash.errors.count, "error") %> prohibited this cash from being saved:</h2>

      <ul>
        <% cash.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='form-center'>
      <div class="form-group row">
        <%= form.label :value, class:'col-sm-3 col-form-label' %>
        <%= form.text_field :value, class:'form-control col-md-8' %>
      </div>

      <div class="form-group row">
        <%= form.label :date, class:'col-sm-3 col-form-label' %>
        <%= form.date_select :date %>
      </div>  
    <div class='row'>
      <div class='form-group col-md-6'>
        <%= form.label :kind, 'Receita' %>
        <%= form.radio_button :kind, 'receita' %>
      </div>
      <div class='form-group col-md-6'>
        <%= form.label :kind, 'Despesa' %>
        <%= form.radio_button :kind, 'despesa' %>
      </div>
    </div>
    <div class="form-group row">
        <%= form.label :note, class:'col-sm-3 col-form-label' %>
        <%= form.text_area :note, class:'form-control col-md-8' %>
    </div>
    <div class="actions">
      <%= form.submit class:'btn btn-dark btn-color-white' %>
      <%= link_to 'Back', cashes_path, class:'btn btn-danger btn-color-white' %>
    </div>
  </div>
<% end %>
