<p id="notice"><%= notice %></p>

<h1>Caixa</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Data</th>
      <th>Tipo</th>
      <th>Observação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashes.each do |cash| %>
      <tr>
        <td><%= humanized_money_with_symbol(cash.price) %></td>
        <td><%= I18n.l(cash.date, format: :long) %></td>
        <td><%= cash.kind %></td>
        <td><%= cash.note %></td>
        <td><%= link_to 'Desfazer', "/cashes/#{cash.id}/undo" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Despesa/ Receita', new_cash_path, class:'btn btn-dark btn-color-white' %>
