<%= form_with(model: costumer, local: true) do |form| %>
  <% if costumer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(costumer.errors.count, "error") %> prohibited this costumer from being saved:</h2>

      <ul>
        <% costumer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :name, 'Nome' %>
      <%= form.text_field :name, class:'form-control', placeholder: 'Nome' %>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :rg, 'rg' %>
      <%= form.text_field :rg, class:'form-control', placeholder: 'RG' %>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :cpf, 'cpf' %>
      <%= form.text_field :cpf, class:'form-control', placeholder:'CPF' %>
    </div>
  </div>
  <div class="form-row">
    <div class="field">
    </div>
    <div class="form-group col-md-3">
      <%= form.label :phone %>
      <%= form.text_field :phone, class:'form-control', placeholder:'(99) 9998-9999' %>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :mobile_phone %>
      <%= form.text_field :mobile_phone, class:'form-control', placeholder:'(99) 98888-8888' %>
    </div>
    <div class="form-group col-md-3">
      <%= form.label :date_of_birth %>
      <%= form.date_field :date_of_birth %>
    </div>
    <div class="form-group col-md-3">
      <div class="form-check">
        <%= form.check_box :status %>
        <%= form.label :status, 'Ativo' %>
      </div>
    </div>
  </div>

  <%= form.fields_for :address do |ad| %>
    <div class='form-row'>
      <div class="form-group col-md-6">
        <%= ad.label :street, 'Rua' %>
        <%= ad.text_field :street, class:'form-control', placeholder:'Av. Brooklin' %>
      </div>
      <div class="form-group col-md-3">
        <%= ad.label :district, 'Bairro' %>
        <%= ad.text_field :district, class:'form-control', placeholder:'Jardim Europa' %>
      </div>
      <div class="form-group col-md-3">
        <%= ad.label :city, 'Cidade' %>
        <%= ad.text_field :city, class:'form-control', placeholder:'Leme' %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-1">
        <%= ad.label :number, 'Número' %>
        <%= ad.text_field :number, class:'form-control', placeholder:'156'%>
      </div>
      <div class="form-group col-md-5">
        <%= ad.label :complement, 'Complemento' %>
        <%= ad.text_field :complement, class:'form-control', placeholder:'Ap. 156'%>
      </div>
      <div class="form-group col-md-4">
        <%= ad.label :state %>
        <%= ad.text_field :state, class: 'form-control' %>
      </div>
      <div class="form-group col-md-2">
        <%= ad.label :cep, 'CEP' %>
        <%= ad.text_field :cep, class:'form-control'%>
      </div>
    </div>
  <% end %>

  <%= form.submit :class => 'btn btn-primary'  %>
  <%= link_to 'Voltar', costumers_path, class: 'btn btn-danger' %>
<% end %>
