<%= form_with(model: costumer, local: true) do |form| %>
  <% if costumer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(costumer.errors.count, "error") %> prohibited this costumer from being saved:</h2>

      <ul>
        <% costumer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='col s6'>
      <%= form.label :name, 'Nome' %>
      <%= form.text_field :name, placeholder: 'Nome', class:'' %>
    </div>
    <div class='col s3'>
      <%= form.label :rg, 'RG' %>
      <%= form.text_field :rg, placeholder: 'RG', class:'' %>
    </div>
    <div class='col s3'>
      <%= form.label :cpf, 'CPF' %>
      <%= form.text_field :cpf, placeholder:'CPF', class:'' %>
    </div>
  </div>

  <div class='row'>
    <div class='col s3'>
      <%= form.label :phone %>
      <%= form.text_field :phone, placeholder:'(99) 9998-9999' %>
    </div>
    <div class='col s3'>
      <%= form.label :mobile_phone %>
      <%= form.text_field :mobile_phone, class:'form-control', placeholder:'(99) 98888-8888' %>
    </div>
    <div class='col s3'>
      <%= form.label :date_of_birth %>
      <%= form.text_field :date_of_birth, class:'datepicker' %>
    </div>
    <div class='col s3'>
      <label>
        <%= form.check_box :status %>
        <span>Ativo</span>
      </label>
    </div>
  </div>
  
  
  
  <%= form.fields_for :address do |ad| %>
      
    <div class='row'>
      <div class='col s6'>
        <%= ad.label :street, 'Rua' %>
        <%= ad.text_field :street, placeholder:'Av. Brooklin' %>
      </div>
      <div class='col s3'>
        <%= ad.label :number, 'Número' %>
        <%= ad.text_field :number %>
      </div>
      <div class='col s3'>
        <%= ad.label :complement, 'Complemento' %>
        <%= ad.text_field :complement %>
      </div>
    </div>
    <div class='row'>
      <div class='col s3'>
        <%= ad.label :district, 'Bairro' %>
        <%= ad.text_field :district %>
      </div>
      <div class='col s3'>
        <%= ad.label :city, 'Cidade' %>
        <%= ad.text_field :city %>
      </div>
      <div class='col s3'>
        <%= ad.label :state %>
        <%= ad.text_field :state %>
      </div>
      <div class='col s3'>
        <%= ad.label :cep%>
        <%= ad.text_field :cep%>
      </div>
    </div>
  <% end %>

  <%= form.submit class: 'btn'%>
  <%= link_to 'Voltar', costumers_path, class:'btn' %>

<% end %>