<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @monthly.status %>
</p>

<p>
  <strong>Price:</strong>
  <%= @monthly.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @monthly.date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @monthly.customer_id %>
</p>

<%= link_to 'Edit', edit_monthly_path(@monthly) %> |
<%= link_to 'Back', monthlies_path %>
